@model IEnumerable<ModelEF.Model.Product>
@using PagedList.Mvc
@using PagedList;
    @{
        ViewBag.Title = "Quản lý sản phẩm";
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }
    @section header{
        <i class="fa fa-user"></i>&nbsp; Quản lý sản phẩm
    }

    @using (Html.BeginForm("Index", "Product", FormMethod.Post))
    {
        <div class="col-lg-12 form-group">
            <div class="col-md-6">
                @Html.ActionLink("Tạo mới", "Create", "Product", new { @class = "btn btn-danger" })
            </div>
            <div class="col-md-4">
                <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khoá cần tìm kiếm" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="submit" value="Tìm kiếm" class="btn btn-default" />
            </div>
        </div>
    }
    <div class="col-lg-12 form-group">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Tên Sản phẩm</th>
                <th>Đơn Giá</th>
                <th>Số lượng</th>
                <th>LoạiSP_ID</th>
                <th>Thao tác</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id=" row_@item.Name">
                    <td>
                        @item.ID
                    </td>

                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.UnitCost
                    </td>
                    <td>
                        @item.Quantily
                    </td>
                    <td>
                        <img src="@Url.Content("~/anh/" +item.Image)" height="100" width="100" />
                    </td>
                    <td>
                        @item.ID_category
                    </td>
                    <td>
                        @Html.ActionLink("Xem chi tiết", "Chitiet", "Product", new { @id = @item.ID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </table>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchString }))
    </div>
